.form {
    margin-bottom: 10px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
    padding: 20px;
}

@media (max-width: 767px) {
    .form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}


.form__input {
    margin: 10px 0;
    border: 2px solid #e2e1e1;
}

.form__button {
    margin: 10px 0 10px 10px;
    height: 40px;
    color: white;
    background-color: #008080;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.form__button:hover {
    transform: scale(1.1);
    background-color: #00b3b3;
}

.form__button:focus {
    outline: 1px solid #000000;
}