.buttons__button {
    color: #008080;
    background-color: #ffffff;
    border: none;
    cursor: grab;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    transition: 0.5s;
}

@media(max-width: 767px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 0 10px 10px;
        grid-gap: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }
}

.buttons__button:hover {
    color: #00b3b3;
}

.buttons__button:disabled {
    color: #9f9d9d;
    cursor: not-allowed;
}